@import "imports";
@import "../components/foundation-icons/foundation_icons_general_enclosed/sass/general_enclosed_foundicons";

li{
	list-style: none;
}
#main{
	overflow: hidden;
	li{
		margin-left: -15px;
		@include transition(all .5s ease);
	}
}

i{	
	top: 2px;
	position: relative;
	font-size: 15px !important;
	margin-right: 5px;
	color: grey;
	opacity: 0;
	@include transition(opacity .5s linear);
	&:hover{
		color: red;
		cursor: pointer;
	}
}
.nav-bar{
	margin-top: 0px;
}
